{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешная покупка</title>
    <link type="text/css" href="{% static 'css/success.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Спасибо за покупку!</h1>
    <p>Ваш заказ был успешно оформлен. Мы обработаем его в ближайшее время.</p>
    <p>Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нашей службой поддержки.</p>

    <a href="{% url 'home' %}">Вернуться на главную страницу</a>
</div>
</body>
</html>
